<?xml version="1.0" encoding="UTF-8"?>
<root>
    <status>normal</status>
    <server>
        <ports>
            <port>5222</port>
        </ports>
    </server>
    <plugins>
        <plugin xmlpns="foo" name="alternativa.ClientConfigurator" id="00000000000004E2" version="A8">
          <pmanifest>
            <property name="Main-Class">alternativa.ClientConfigurator</property>
          </pmanifest>
        </plugin>   
        <plugin xmlpns="foo" name="platform.clients.fp10.libraries.alternativaprotocol" id="00000000000004E3" version="7B">
          <pmanifest>
            <property name="Bundle-Name">platform.clients.fp10.libraries.alternativaprotocol</property>
            <property name="Bundle-Activator">alternativa.protocol.osgi.ProtocolActivator</property>
          </pmanifest> 
        </plugin>
        <plugin xmlpns="foo" name="platform.client.core.general.resource.osgi" id="0000000000004A9C" version="A4">
          <pmanifest>
            <property name="Bundle-Name">platform.client.core.general.resource.osgi</property>
          </pmanifest>
        </plugin>
        <plugin xmlpns="foo" name="platform.clients.fp10.libraries.alternativaclient" id="00000000000004E5" version="2C7">
          <pmanifest>
            <property name="Bundle-Name">platform.clients.fp10.libraries.alternativaclient</property>
            <property name="Bundle-Activator">platform.client.fp10.core.osgi.ClientActivator</property>
          </pmanifest>
        </plugin>
        <plugin xmlpns="foo" name="platform.client.core.general.spaces.osgi" id="0000000000000708" version="3E0">
          <pmanifest>
            <property name="Bundle-Name">platform.client.core.general.spaces.osgi</property>
          </pmanifest>
        </plugin>           
        <plugin xmlpns="foo" name="platform.clients.fp10.models.alternativaspacesmodels" id="0000000000000640" version="AE">
          <pmanifest>
            <property name="Bundle-Name">platform.clients.fp10.models.alternativaspacesmodels</property>
            <property name="Bundle-Activator">alternativa.init.SpacesModelsActivator</property>
          </pmanifest>
        </plugin>        
    </plugins>
	
	<hulls>
		<hull path="resources/items/armor/Wasp/M0/3ds/" name="Wasp" price="0"/>
		<hull path="resources/items/armor/Viking/M0/3ds/" name="Viking" price="0"/>
		<hull path="resources/items/armor/Mammoth/M0/3ds/" name="Mammoth" price="0"/>
		<hull path="resources/items/armor/Hornet/M0/3ds/" name="Hornet" price="0"/>
	</hulls>
	<turrets>
		<turret path="resources/items/weapons/Smoky/M0/3ds/" name="Smoky" price="0"/>
		<turret path="resources/items/weapons/Firebird/M0/3ds/" name="Firebird" price="0"/>
		<turret path="resources/items/weapons/Thunder/M0/3ds/" name="Thunder" price="0"/>
		<turret path="resources/items/weapons/Twins/M0/3ds/" name="Twins" price="0"/>
		<turret path="resources/items/weapons/Railgun/M0/3ds/" name="Twins" price="0"/>
	</turrets>
	<colormaps>
		<colormap path="resources/items/coloring/Flora/" name="Flora" price="50"/>
		<colormap path="resources/items/coloring/Green/" name="Green" price="0"/>
		<colormap path="resources/items/coloring/Winter/" name="Winter" price="300"/>
		<colormap path="resources/items/coloring/Swamp/" name="Swamp" price="50"/>
	</colormaps>
</root>